.rep {
  position: fixed;
  top: 50%;
  z-index: 9999;
  font-size: larger;
}
@import "../../style/style.scss";

.comment-container {
  display: block;
}
.cardCont {
  background-color: $White;

  border-radius: 5px;

  .counter {
    background-color: $Lightgray;
    color: $Darkblue;

    border-radius: 10px;
    button {
      height: 13px;
      width: auto;
      svg {
        width: 14px;
        height: 20px;
      }
      padding: 10px 0;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: none;
    }
    .score {
      text-align: center;
      font-weight: 700;
      color: $Moderateblue;
    }
  }
  .commentBody {
    width: 100%;
    .head {
      .left {
        .avatar {
          img {
            width: 40px;
            height: 40px;
          }
        }
        .name {
          font-weight: 700;
        }
        .time {
          color: $Lightgrayishblue;
        }
      }
      .righ {
        button {
          height: 13px;
          width: auto;
          svg {
            width: 14px;
            height: 20px;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .commentText {
      padding-top: 20px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .cardCont {
    display: flex;
    height: 150px;
    width: 100%;
    padding: 20px;
    justify-content: space-between;

    .counter {
      background-color: $Lightgray;
      color: $Darkblue;
      width: 50px;
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 10px;

      button {
        cursor: pointer;
        border-radius: 10px;
        height: 40px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          height: 20px;
          width: 20px;
        }
      }
      .score {
        text-align: center;
        font-weight: 800;
      }
    }
    .commentBody {
      .head {
        display: flex;
        justify-content: space-between;
        height: 40px;
        .left {
          display: flex;
          justify-content: center;
          align-items: center;
          .avatar {
            img {
              width: 20px;
              height: 40px;
            }
          }
          .name {
            margin: 0 20px;
            font-weight: 700;
          }
          .time {
            color: $Lightgrayishblue;
          }
        }
        .righ {
          button {
            background-color: #00000000;
            font-weight: 700;
            color: $Darkblue;
            svg {
              margin-right: 5px;
            }
          }
        }
      }
      .commentText {
        padding-top: 20px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
}
#main {
  width: 80%;
  margin: 30px auto;
}
#reply {
  width: 75%;
  margin: 30px 10% 30px auto;
}
