@import "../../style/style.scss";

button.reply {
  height: 13px;
  width: auto;
  background-color: #00000000;
  font-weight: 700;
  color: $Darkblue;
  svg {
    width: 14px;
    height: 20px;
  }
  &:hover {
    cursor: pointer;
  }
}
.comment-container {
  display: block;
}
.cardCont {
  background-color: $White;

  border-radius: 5px;
  .confirm {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(
      -50%,
      -50%
    ); /* Center both horizontally and vertically */
    .confirm-body {
      position: fixed;
      top: 50%; /* Center vertically */
      left: 50%; /* Center horizontally */
      transform: translate(
        -50%,
        -50%
      ); /* Center both horizontally and vertically */
      text-align: center;
      background: white;
      width: 350px;
      height: auto; /* Make the dialog full-screen height (adjust as needed) */
      /* Optional: Add a semi-transparent overlay */
      z-index: 100; /* Ensure it's on top of other content */
      display: flex;
      flex-direction: column;
      padding: 40px;
      border-radius: 2em;
      justify-content: space-between;
      text-align: left;
      h1 {
        font-weight: 800;
        margin-bottom: 20px;
        color: $Darkblue;
        font-size: 27px;
      }
      .body {
        color: $GrayishBlue;
        text-align: left;
        font-size: 18px;
      }
      .buttonCont {
        display: flex;
        justify-content: space-between;
        button {
          margin-top: 10px;
          width: 130px;
          height: 50px;
          border-radius: 10px;
          color: white;
          font-weight: 600;
          cursor: pointer;
          font-family: "rubik", sans-serif;
          &.true {
            background-color: $SoftRed;
          }
          &.cancel {
            background-color: $GrayishBlue;
          }
        }
      }
    }
  }
  .counter {
    background-color: $Lightgray;
    color: $Darkblue;

    border-radius: 10px;
    button {
      height: 13px;
      width: auto;

      padding: 10px 0;
      cursor: pointer;
      border-radius: 10px;

      border: none;
    }
    .score {
      text-align: center;
      font-weight: 700;
      color: $Moderateblue;
    }
  }
  .commentBody {
    width: 100%;
    .head {
      .left {
        .avatar {
          img {
            width: 40px;
            height: 40px;
          }
        }
        .name {
          font-weight: 700;
        }
        .time {
          color: $Lightgrayishblue;
        }
      }
      .righ {
        button {
          height: 13px;
          width: auto;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          svg {
            width: 14px;
            height: 20px;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .commentText {
      padding-top: 20px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .cardCont {
    display: flex;
    height: 150px;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    .bottom {
      display: none;
    }
    #mobile {
      display: none;
    }
    .counter {
      background-color: $Lightgray;
      color: $Darkblue;
      width: 50px;
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 10px;

      button {
        cursor: pointer;
        border-radius: 10px;
        height: 40px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
        }
      }
      .score {
        text-align: center;
        font-weight: 800;
      }
    }
    .commentBody {
      margin: 0 20px;
      .head {
        display: flex;
        justify-content: space-between;
        height: 40px;
        .left {
          display: flex;
          justify-content: center;
          align-items: center;
          .avatar {
            img {
              width: 40px;
              height: 40px;
            }
          }
          .name {
            margin: 0 20px;
            font-weight: 700;
          }
          .time {
            color: $Lightgrayishblue;
          }
        }
        .righ {
          button {
            background-color: #00000000;
            font-weight: 700;
            color: $Darkblue;
            margin-right: 10px;

            svg {
              margin-right: 5px;
            }
          }
        }
      }
      .commentText {
        padding-top: 20px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .cardCont {
    width: 100%;
    padding: 20px;
    #desktop {
      display: none;
    }

    .commentBody {
      .head {
        display: flex;
        justify-content: space-between;
        height: 40px;
        .left {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .avatar {
            img {
              width: 40px;
              height: 40px;
            }
          }
          .name {
            margin: 0 20px;
            font-weight: 700;
          }
          .time {
            color: $Lightgrayishblue;
          }
        }
        .righ {
          display: none;
          button .reply {
            background-color: #00000000;
            font-weight: 700;
            color: $Darkblue;
            svg {
              margin-right: 5px;
            }
          }
        }
      }
      .commentText {
        padding-top: 20px;
      }
    }
    .bottom {
      #mobile {
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      .counter {
        width: 100px;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        button {
          cursor: pointer;
          border-radius: 10px;
          height: 20px;
          text-align: center;
          width: 100%;
          display: flex;

          justify-content: center;
          align-items: center;
          font-weight: 800;
          svg {
            font-weight: 700;
          }
        }
        .score {
          text-align: center;
          font-weight: 800;
        }
      }
    }
  }
}
#main {
  width: 80%;
  margin: 30px auto;
}
#reply {
  width: 75%;
  margin: 30px 10% 30px auto;
}
